<div class="tui-space_horizontal-2">
  <tui-island [size]="'l'">
    <div class="tui-island__title tui-space_bottom-4">
      <span class="tui-text_h3 title">Login</span>
      <pre>{{ authService.user$ | async | json }}</pre>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <tui-input formControlName="email" class="tui-space_bottom-4">Email</tui-input>

      <tui-input-password formControlName="password" class="tui-space_bottom-4">Password</tui-input-password>

      <button type="submit" tuiButton icon="tuiIconLoginLarge">Sign in</button>
    </form>
  </tui-island>
</div>
