<ng-container
  *ngIf="{
    isLoading: isLoading$ | async,
    hasError: hasError$ | async,
    hasChangedPassword: hasChangedPassword$ | async
  } as data"
>
  <tui-island size="l">
    <h3 class="tui-island__title tui-text_h3 tui-space_bottom-4">Change password</h3>

    <ng-container *ngIf="!data.hasError; else error">
      <form *ngIf="!data.hasChangedPassword; else successMessage" [formGroup]="changePasswordForm" class="tui-form">
        <tui-input-password formControlName="password" class="tui-form__row">New password</tui-input-password>
        <tui-input-password formControlName="passwordConfirm" class="tui-form__row"
          >Confirm password</tui-input-password
        >
        <div class="tui-form__buttons tui-form__buttons_align_end">
          <button
            tuiButton
            icon="tuiIconLockLarge"
            [disabled]="changePasswordForm.invalid"
            [showLoader]="data.isLoading"
            (click)="onChangePassword()"
          >
            Set new password
          </button>
        </div>
      </form>

      <ng-template #successMessage>
        <tui-notification status="success">
          Your password has been successfully changed. Now you can
          <a [routerLink]="['/', 'auth', 'login']">log in</a>.
        </tui-notification>
      </ng-template>
    </ng-container>

    <ng-template #error>
      <app-retry-error-message [service]="changePasswordService"></app-retry-error-message>
    </ng-template>
  </tui-island>
</ng-container>
