<ng-container *transloco="let t">
  <ng-container
    *ngIf="{
      relatedReservations: relatedReservations$ | async,
      hasError: hasError$ | async,
      isLoading: isLoading$ | async
    } as data"
    [formGroup]="connectedUpdateForm"
  >
    <tui-toggle size="l" formControlName="shouldUpdateConnected"></tui-toggle>
    {{ t('edit_reservation.update_connected_title') }}
    <tui-tooltip direction="top-right" [content]="t('edit_reservation.update_connected_hint')"></tui-tooltip>

    <ng-container *ngIf="!data.hasError; else error">
      <tui-data-list *ngIf="shouldUpdateConnected" formArrayName="connectedUpdates">
        <a *ngFor="let reservation of data.relatedReservations; let i = index" tuiOption>
          <span *ngIf="reservation.proposedChanges as proposedChanges">
            {{ reservation.name }}
            ({{ reservation.startTime | date: 'short' }} - {{ reservation.endTime | date: 'short' }})

            <button
              *ngIf="!isObjectEmpty(reservation.proposedChanges)"
              tuiButton
              size="xs"
              tuiHintMode="onDark"
              tuiHintDirection="top-left"
              [tuiHint]="proposedChangesTooltip"
            >
              {{ t('edit_reservation.show_changes') }}
            </button>
            <ng-template #proposedChangesTooltip>
              <ul class="tui-list tui-list_small">
                <li *ngIf="proposedChanges.name" class="tui-list__item">
                  {{ t('reservation.name') }}:
                  <span class="old-value">{{ reservation.name }}</span>
                  -> {{ proposedChanges.name }}
                </li>
                <li *ngIf="proposedChanges.startTime" class="tui-list__item">
                  {{ t('reservation.start_time') }}::
                  <span class="old-value">{{ reservation.startTime | date: 'short' }} </span>
                  ->
                  {{ proposedChanges.startTime | date: 'short' }}
                </li>
                <li *ngIf="proposedChanges.endTime" class="tui-list__item">
                  {{ t('reservation.end_time') }}::
                  <span class="old-value"> {{ reservation.endTime | date: 'short' }} </span>
                  ->
                  {{ proposedChanges.endTime | date: 'short' }}
                </li>
                <li *ngIf="proposedChanges.locations" class="tui-list__item">
                  {{ t('reservation.locations') }}
                </li>
                <ul *ngIf="proposedChanges.locations" class="tui-list tui-list_nested">
                  <li *ngIf="proposedChanges.locations.badminton !== undefined" class="tui-list__item">
                    <span [class.old-value]="proposedChanges.locations.badminton === false">
                      {{ t('reservation.badminton') }}:
                    </span>
                  </li>
                  <li *ngIf="proposedChanges.locations.tableTennis !== undefined" class="tui-list__item">
                    <span [class.old-value]="proposedChanges.locations.tableTennis === false">
                      {{ t('reservation.table_tennis') }}:
                    </span>
                  </li>
                </ul>
              </ul>
            </ng-template>

            <tui-error
              *ngIf="connectedUpdates.controls[i]?.value && connectedUpdates.controls[i]?.errors?.timeNotAvailable"
              [error]="{ message: t('edit_reservation.time_not_available') }"
            ></tui-error>
          </span>
          <tui-checkbox [formControlName]="i"></tui-checkbox>
        </a>
      </tui-data-list>
    </ng-container>

    <ng-template #error>
      <app-retry-error-message [service]="connectedUpdateService"></app-retry-error-message>
    </ng-template>
  </ng-container>
</ng-container>
