:host > tui-island::ng-deep {
  padding: 0;

  & > .tui-island__category {
    padding: 0.75rem;

    & > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
