:host {
  display: block;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 2rem);
  padding-top: 1rem;
  padding-bottom: 1rem;

  & mwl-calendar-week-view::ng-deep {
    display: block;
    overflow-y: auto;
    height: 100%;

    & mwl-calendar-week-view-header {
      position: sticky;
      top: 0;
      z-index: 999;

      & > .cal-day-headers {
        background: #fff;
      }
    }
  }

  // TODO: Fix upward scrolling bug
}
