#calendar-wrapper {
  overflow-y: auto;
  height: 100%;

  & mwl-calendar-week-view::ng-deep {
    & > .cal-week-view {
      border-top: none;

      & mwl-calendar-week-view-header {
        position: sticky;
        top: 0;
        z-index: 999;

        & > .cal-day-headers {
          border-top: solid 1px #e1e1e1;
          background: #fff;
        }
      }
    }
  }
}
