:host {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: calc(100vh - 2rem);

  padding-top: 1rem;
  padding-bottom: 1rem;

  & #calendar-wrapper {
    overflow-y: auto;
    height: 100%;

    &::ng-deep mwl-calendar-week-view-header {
      position: sticky;
      top: 0;
      z-index: 999;

      & > .cal-day-headers {
        background: #fff;
      }
    }
  }
}
