<ng-container
  *ngIf="{
    daysInWeek: numOfDisplayedDays$ | async,
    selectedTimePeriod: selectedTimePeriod$ | async,
    calendarEvents: reservationCalendarEvents$ | async
  } as data"
>
  <!-- TODO: Take care of i18n -->
  <mwl-calendar-week-view
    tuiOverscroll="scroll"
    precision="minutes"
    [viewDate]="data.selectedTimePeriod?.startDate"
    [events]="data.calendarEvents"
    [daysInWeek]="data.daysInWeek"
    [weekStartsOn]="1"
    [eventTemplate]="customEvent"
    (dayHeaderClicked)="onSelectTimeToEdit($event.day.date)"
    (hourSegmentClicked)="onSelectTimeToEdit($event.date)"
  ></mwl-calendar-week-view>

  <ng-template #customEvent let-weekEvent="weekEvent">
    <app-calendar-item [calendarEvent]="weekEvent.event" [height]="weekEvent.height"></app-calendar-item>
  </ng-template>

  <app-calendar-desktop-action-buttons [numOfDisplayedDays]="data.daysInWeek"></app-calendar-desktop-action-buttons>
</ng-container>
