::ng-deep tui-root {
  height: 100vh;
  width: 100vw;
}

#layout-container {
  display: grid;
  grid-template-columns: min(35vw, 21rem) auto;

  @media screen and (max-width: 768px) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  #outlet-container {
    padding: 3rem 2rem;
    height: calc(100vh - 6rem);

    @media screen and (max-width: 768px) {
      padding: 1rem;
      height: calc(100vh - 2rem);
      width: calc(100vw - 2rem);
    }

    router-outlet::ng-deep + * {
      display: block;

      height: 100%;
      width: 100%;
      overflow-y: scroll;
    }
  }
}
