<ng-container
  *ngIf="{
    isLoading: isLoading$ | async,
    hasSentResetEmail: hasSentResetEmail$ | async,
    errorMessage: errorMessage$ | async
  } as data"
>
  <tui-island>
    <h3 class="tui-island_title tui-text_h3 tui-space_bottom-3">Forgot password?</h3>

    <p class="tui-island_paragraph">
      Have you forgotten your password? No problem, here you can request a new one! You just need to enter your email
      address, click on the link you receive through email and you can enter your new password - that easy!
    </p>

    <ng-container *ngIf="!data.errorMessage; else error">
      <form *ngIf="!data.hasSentResetEmail; else emailSent" [formGroup]="forgotPasswordForm" class="tui-form">
        <tui-input formControlName="email" class="tui-form__row">Your email address</tui-input>
        <div class="tui-form__buttons tui-form__buttons_align_end">
          <button
            tuiButton
            icon="tuiIconMailLarge"
            [disabled]="forgotPasswordForm.invalid"
            [showLoader]="data.isLoading"
            (click)="onResetPassword()"
          >
            Send email
          </button>
        </div>
      </form>

      <ng-template #emailSent>
        <tui-notification status="success">
          We've sent you an email to {{ forgotPasswordForm.value.email }} with a URL that will help you create a new
          password! <a [routerLink]="['/', 'auth', 'login']">Go to login.</a>
        </tui-notification>
      </ng-template>
    </ng-container>

    <ng-template #error>
      <app-retry-error-message [message]="data.errorMessage" (retry)="onRetry()"></app-retry-error-message>
    </ng-template>
  </tui-island>
</ng-container>
