<ng-container *transloco="let t; read: 'auth'">
  <ng-container *ngIf="{ isLoading: isLoading$ | async, hasError: hasError$ | async } as data">
    {{ data.errorMessage }}
    <tui-island size="l" class="tui-space_horizontal-2">
      <h3 class="tui-island__title tui-text_h3 tui-space_bottom-4">{{ t('confirm_email_title') }}</h3>

      <ng-container *ngIf="!data.hasError; else error">
        <p class="tui-island_paragraph">
          {{ t('confirm_email_message') }}
        </p>
        <!-- Add some real ToS -->
        <form [formGroup]="tosForm">
          <tui-toggle formControlName="isAccepted" size="l" class="tui-space_right-2"></tui-toggle>
          {{ t('accept_tos') }}
        </form>
        <div id="confirm-wrapper" class="tui-space_top-5">
          <button
            tuiButton
            icon="tuiIconCheckCircleLarge"
            [disabled]="tosForm.invalid"
            [showLoader]="data.isLoading"
            (click)="onConfirmEmail()"
          >
            {{ t('confirm') }}
          </button>
        </div>
      </ng-container>

      <ng-template #error>
        <app-retry-error-message [service]="confirmEmailService"></app-retry-error-message>
      </ng-template>
    </tui-island>
  </ng-container>
</ng-container>
