@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
  width: min(30vw, 20rem);
  height: 100vh;
  display: flex;

  aside {
    flex-grow: 1;
    padding: 1rem;
    @include shadow(4);

    display: flex;
    flex-direction: column;

    app-sidebar-menu::ng-deep {
      flex-grow: 1;
    }
  }
}
