@import '../node_modules/angular-calendar/css/angular-calendar.css';

tui-wrapper[data-appearance='negative'] {
  background: var(--tui-error-fill);
  color: #fff;

  &[data-state='hovered'] {
    background: var(--tui-negative-hover);
  }

  &[data-state='pressed'] {
    background: var(--tui-negative);
  }

  &[data-state='disabled'] {
    background: var(--tui-error-bg-hover);
  }
}

// TODO: Temporary workaround - should be removed ASAP
// See: https://github.com/TinkoffCreditSystems/taiga-ui/issues/482
.tui-group_adaptive.tui-group_orientation_horizontal {
  @media screen and (max-width: 599px) {
    height: 120px;
  }
}
