<ng-container *transloco="let t; read: 'create_reservation.reschedule'">
  <a tuiOption>
    <div>{{ time | date: 'short' }} <tui-svg [src]="isAvailable ? 'tuiIconCheck' : 'tuiIconCancel'"></tui-svg></div>
    <button
      type="button"
      tuiIconButton
      size="s"
      icon="tuiIconTimeLarge"
      appearance="flat"
      (click)="onOpenRescheduleDialog()"
    ></button>
  </a>

  <ng-container *ngIf="{ newStartTime: newStartTime$ | async, newEndTime: newEndTime$ | async } as data">
    <ng-template polymorpheus let-observer>
      <tui-notification>
        {{ t('info') }}
      </tui-notification>

      <h4 class="tui-header_h4">Original time: {{ time | date: 'short' }} - {{ endTime | date: 'short' }}</h4>

      <tui-notification *ngIf="rescheduleForm.valid" status="success">
        {{ t('time_available') }}
      </tui-notification>

      <form [formGroup]="rescheduleForm.get('time')">
        <div class="tui-form__row">
          <tui-input-date-time formControlName="startTime" [min]="todayTuiDate" [max]="oneYearFromNowTuiDate">
            {{ t('new_start_time') }}
          </tui-input-date-time>
        </div>

        <h4 class="tui-header_h4" *ngIf="data.newEndTime">
          {{ t('new_time') }}: {{ data.newStartTime | date: 'short' }} -{{ data.newEndTime | date: 'short' }}
        </h4>

        <div class="tui-form__buttons tui-form__buttons_align_end">
          <button tuiButton type="button" appearance="outline" class="tui-space_right-2" (click)="observer.complete()">
            {{ t('cancel') }}
          </button>
          <button
            tuiButton
            type="submit"
            icon="tuiIconCheckLarge"
            [disabled]="rescheduleForm.invalid"
            [showLoader]="rescheduleForm.pending"
            (click)="onReschedule(); observer.complete(); (false)"
          >
            {{ t('reschedule') }}
          </button>
        </div>
      </form>
    </ng-template>
  </ng-container>
</ng-container>
